<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navbar></app-navbar>


<div class="container-fluid">
  <div class="parallax">
    <div class="content">
      <p id="text2">Poluarea aerului provoaca anual aproximativ 7 milioane de decese!</p>
    </div>
  </div>
  
  <div class="parallax2">
    <div class="split left">
      <div class="row">
      
        <div class="col-10">
          <h2 id="h2" >Air pollution and the campaign for clean air – what you need to know </h2>
          <p id="p2" style="word-wrap:break-word">Poluarea aerului este cauzată de particule solide și lichide și de anumite gaze care sunt emise în
            aer.
            Aceste particule și gaze pot proveni din emisiile masinilor, camioanelor, fabricilor, praf, polen, vulcani
            și incendii.
            Nivelul de poluare a aerului a crescut în multe părți ale lumii.Noile date de la OMS arată că 9 din 10
            persoane respiră aer care conține niveluri ridicate de poluanți.

          </p>

          <button style="margin-top:30px;position:absolute;" [routerLink]="['/SaveWorld']" type="btn" class="btn2 btn-info ">Afla mai
            multe</button>
        </div>
      </div>
    </div>
    
    <div class="split right">
    
       
   <div class="col-12">
    <img class="img2"
      src="https://cdn.friendsoftheearth.uk/sites/default/files/styles/hero_image/public/Machester.webp?itok=CTHLhCs4">

      </div>
    </div>
    
    <div class="split left">
      <div class="row-fluid">
        <div class="col-10">
          <h2 id="h2">Air pollution and the campaign for clean air – what you need to know </h2>
          <p id="p2">Poluarea aerului este cauzată de particule solide și lichide și de anumite gaze care sunt emise în
            aer.
            Aceste particule și gaze pot proveni din emisiile masinilor, camioanelor, fabricilor, praf, polen, vulcani
            și incendii.
            Nivelul de poluare a aerului a crescut în multe părți ale lumii.Noile date de la OMS arată că 9 din 10
            persoane respiră aer care conține niveluri ridicate de poluanți.

          </p>
           
          <button style="margin-top:30px" [routerLink]="['/SaveWorld']" type="btn" class="btn2 btn-info ">Afla mai
            multe</button>
        </div>
      </div>
      </div>
    </div>

    <div class="split right">
  
   <div class="col-12">
        <img class="img2"
          src="https://cdn.friendsoftheearth.uk/sites/default/files/styles/hero_image/public/Machester.webp?itok=CTHLhCs4">
</div>
      </div>
    
<div class="parallax5">
  <div class="content2">

    <div class="container">
      <p class="text">Poluarea aerului-statistica</p>
      <div class="row row-col-3">
        <div class="col-sm-4 ">
          <p class="text2">
            <span [CountTo]="count.countTo" [from]="count.from" [duration]="count.duration"></span>
          </p> <br>
          <p class="p4">
            <button class="btn3" type="button" (click)="openWindow(content)" style="color: rgb(51, 115, 199);font-weight: 600;">decese premature</button> pe an în Europa cauzate de poluarea aerului</p>
          </div>
        <div class="col-sm-4">
          <p class="text2" style="right:10px">
            <span [CountTo]="count2.countTo" [from]="count2.from" [duration]="count2.duration"></span>
           </p>
          <br>
          <p class="p4" style="left:60px">
            de copii sunt expuşi la niveluri ridicate de <button class="btn3" type="button" (click)="openChart(content2)" style="color: rgb(51, 115, 199);font-weight: 600;">particule dăunătoare;</button> </p>
        </div>
        <div class="col-sm-4">
          <p  class="text2"  style="right:10px">
            <span [CountTo]="count3.countTo" [from]="count3.from" [duration]="count3.duration"></span>% 
          </p>
         <br>
         <p class="p4"  style="left:70px">din emisiile zilnice de CO2 provin de la transportul rutier</p>
        </div>
    </div>


      </div>

    </div>
  </div>
</div>
<div class="parallax6">
  <div class="container-fluid ">
  <div class="split2 left">
      <img  class="img2" src="../../assets/images/air pollution.health.jpg"> 
 </div>
 <div class="split2 right">
  
  
      
    <div class="col-10">
 <h2 id="h2">Impactul poluării aerului asupra sănătății </h2>
 <p id="p2" style="white-space: pre-line;">Poluarea aerului este o cauză majoră a deceselor premature și a bolilor și este cel mai mare factor de risc pentru sănătatea 
      oamenilor.Aproximativ 86% din populatie globului  trăieste în zone unde poluarea aerului poate atinge niveluri ridicate de gaze poluante.
       
      Atât expunerea pe termen scurt, cât și pe termen lung  poate duce la o gamă largă de boli (de exemplu: boli cardiovasculare,astm,
       cancer,etc).Datele de la  Organizatia Mondiala a Sanatatii arată ca una din nouă morți este cauzată de către poluarea aerului. 
       În România, 23.960 de decese premature sunt cauzate de poluare, așa cum a indicat Agenția Europeana de Mediu în anul 2017.
 </p>
 
 <button  style="margin-top:30px;white-space:normal" [routerLink]="['/Action']" type="btn" class="btn2 btn-info ">Afla mai multe</button>
</div>
</div>
</div>

</div>
<div class="parallax2">
  <div class="split3 left" style="background-color: #242930;">
    <div class="container-fluid">
      <div class="row">
      <div class="col-9" >
   <h2 id="h3" >Transportul rutier este principala cauza a poluarii aerului </h2>
   <p id="p3" style="white-space: pre-line;">
    Transportul rutier este o sursă majoră de poluare a aerului care dăunează sănătății umane și mediului.In ciuda imbunatatirilor 
    semnificative ale combustibililor si tehnologiilor de fabricare a autovehiculelor, transportul este principala sursa de poluare a aerului.
    Emisiile globale provocate de  transport au crescut cu de 0,5% în 2020 (comparativ cu 1,9% anual din 2000) datorită , transportul este fiind
     responsabil pentru 24% din emisiile directe de CO2 provenite din arderea combustibilului.
   </p>
   
   <button  style="margin-top:30px" [routerLink]="['/EmisiiTransport']" type="btn" class="btn2 btn-info ">Afla mai multe</button>
  </div>
  
  </div>
</div>
 </div>
 <div class="split3 right" >
  <div class="container-fluid">
    
    <img  class="img3" src="../../assets/images/RS21931_CFNN29-scr (1).jpg">
 
  </div>

</div>
</div>

<div class="parallax3">
  <div class="container">
    <div class="row">
      <h3 class="col-12 title">Poluanti</h3>
    </div>

    <div class="row" style="margin-top:180px;">
      <div class="col-sm-4">
        <img class="img4" style="margin-left: -120px;"  src="../../assets/images/CleanAir_TypesOfPollution_PMs_0.png" alt="pm10">
        <p  class="p5" style="margin-left: -60px;">
          <span  class="span">Particule PM2.5 si PM10.</span> Expunerea la astfel de particule poate afecta atât plămânii, cât și inima</p>
        </div>
        <div class="col-sm-4">
          <img class="img4"  style="margin-left: -50px;"  src="../../assets/images/CleanAir_TypesOfPollution_NO2_0.png" alt="NO2">
          <p class="p5">
            <span  class="span">Dioxid de azot (NO2)</span>Nivelurile ridicate de NO2 pot provoca apariția astmului,dificultăți de respirație sau aparitia cancerului.</p>
          </div>
          <div class="col-sm-4">
            <img class="img4"   src="../../assets/images/CleanAir_TypesOfPollution_O3updated_1.png" alt="o3">
            <p class="p5" style="margin-right: -120px;">
              <span  class="span">Ozon(O3).</span>Concentrația de ozon la nivelul solului provoacă iritarea traiectului respirator și iritarea ochilor de asemenea poate provoca reducerea funcției respiratorii.</p>
            </div>
        
    </div>
</div>
</div>
<div class="parallax4">
  <div class="split4 left" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="col-10" >
     <h2 id="h2" >
     Indicele de calitate a aerului</h2>
     <p id="p2" style="margin-top: 100px;">
      În vederea evaluării gradului de poluare a aerului se pot utiliza indici de calitate a
      aerului. Unul dintre cei mai utilizaţi la nivel internaţional este indicele de calitate a aerului
      Agenția SUA pentru Protecția Mediului (EPA) a creat Indicele Calității Aerului (AQI) pentru a monitoriza și raporta în 
      fiecare zi calitatea aerului și pentru a informa oamenii despre posibilele sale efecte asupra sănătății.
      Statiile de masurare ofera informatii ce sunt utilizate în calcularea indicelui de calitate a aerului, cuprinzând poluanții principali (PM10), 
      la care se adaugă poluantii auxiliari (PM2,5). Statiile fac masuratori la intervale fixe, de 15 minute, iar pe baza acestor masuratori se stabileste calculeaza
       Indicele de Calitate a Aerului.
     </p>
     
    
    </div>
    
    </div>
   
   </div>
 <div class="split4 right">
  <div class="container content3">
    
    <app-aqimap></app-aqimap>
 
  </div>

</div>
</div>

  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Decese premature provocate de poluarea aerului</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <app-pie-chart2></app-pie-chart2>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Decese premature provocate de poluarea aerului</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
