<app-navbar></app-navbar>
<app-evolution-chart></app-evolution-chart>




















<div class="container mt-5">
 
    
    <div class="row mt-5" >
      <div class="col-md-4">
        
        <button (click)="doneaza()" class="btn btn-primary btn-block">Doneaza 50 </button>
      </div>
    <br>
      <div class="col-md-4">
        <button (click)="doneaza()" class="btn btn-success btn-block">Doneaza 100</button>
      </div>
      
      <div class="col-md-4">
       
        <button (click)="doneaza()" class="btn btn-info btn-block">Doneaza 150</button>
      </div>    
    </div>

  </div>
