<!--<ng-container *ngIf="chartOptions">
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
    style="width: 660px; height: 400px; display: block; margin-left: 10%; margin-bottom: 60px;">
  </highcharts-chart>
</ng-container>
<form [formGroup]="datainputForm" novalidate>
  <section class="form-block">
    <div class="form-group">
      <div class="select">
        <select formControlName="dropDownTest" (change)="onSelectChange()" id="continent"
          class="browser-default custom-select">

          <option *ngFor="let continent of removeDuplicate" [ngValue]="continent">
            {{continent.continent}}
          </option>
        </select>
      </div>
    </div>
  </section>
</form>
-->