<app-navbar></app-navbar>

<div  class="panels" id="a"></div>

<div class="panels" id="b">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 style="font-size: 28px; margin-top: 155px">Principalele surse care contribuie la incalzirea globala</h3>
        <p style=" 
        font-size: 15px;">Schimbările climatice sunt un fenomen real și periculos pentru planetă, iar majoritatea cauzelor 
        sunt rezultatul acțiunilor omului.</p>
        <ul>
          <li class="listElem"><span style="font-weight: bold;">Electricitate și încălzirea </span> :arderea combustibililor fosili pentru a produce electricitate și căldură este cea 
            mai mare cauză a schimbărilor climatice. Emisiile reprezintă aproape o treime din totalul emisiilor de gaze  cu efect de seră
          </li>
          <li class="listElem"><span style="font-weight: bold;"> Transporturile</span>mașinile, avioanele și celelalte mijloace de transport reprezintă a doua cauză a încălzirii globale.
            
          </li>
          <li class="listElem"><span style="font-weight: bold;">Producția și construcțiile</span>: reprezintă împreună 36% din consumul global de energie și 39% din emisiile de dioxid de carbon legate de energie anual.
            
          </li>
          <li class="listElem"><span  style="font-weight: bold;">Agricultura</span>:contribuie la schimbările climatice prin emisiile  de gaze cu efect de seră și prin transformarea terenurilor neagricole, cum ar fi pădurile, în terenuri agricole.
           
          </li>
          <li class="listElem"><span  style="font-weight: bold;">Arderea altor combustibili</span>:în această categorie intră lemnul și combustibilii arși în clădirile rezidențiale și comerciale, dar și cei folosiți pentru agricultură
         
          </li>
          <li class="listElem"><span style="font-weight: bold;">Defrișările</span>:pădurile împiedică emisiile de carbon, iar defrișările influențează dramatic schimbările climatice.
           
          </li>
        </ul>
          
      </div>
      <div class="col-lg-6  chart-container2">
        <app-global-warming-pie-chart></app-global-warming-pie-chart>
      </div>
    </div>
  </div>
</div>

<div class="panels" id="c">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
            <h3 style="margin-top: 210px; font-size: 30px;">Evolutia temperaturii globale</h3>
        <p id="p4">Într-un timp relativ scurt, temperatura globală a <span
          style="font-weight: bold; color:rgb(35, 151, 197);">crecut cu
          cel puţin 2°C, </span>fapt care a declanşat alte mecanisme.Unul dintre cele mai importante a fost topirea
        pungilor
        îngheţate de metan de pe fundul oceanelor, gaz care a ajuns rapid în atmosferă. Metanul e un gaz de seră mai
        puternic de <span style="font-weight: bold; color:rgb(35, 151, 197);">20-25 de ori faţă
          de dioxidul de carbon</span>, ceea ce a dus la o creştere accelerată a temperaturii globale până la circa 6°C,
        tot în câteva sute de ani.
        Prin comparaţie, în momentul de faţă temperatura medie globală a crescut deja cu peste 1°C în perioada 1880-2000,
        iar până la finalul lui 2100 există riscul unei creşteri chiar şi de peste 4°C.
        <span style="font-weight: bold; color:rgb(35, 151, 197);">În plus, din 2010 încoace se estimează că activitatea
          umană duce la emisii de cel puțin 35 de miliarde de tone anual de CO2 si alte gaze cu efect de serã.</span>
      </p>
      </div>
      <div class="col-lg-6">
        <div class="chart-container">
          <app-global-warming-chart></app-global-warming-chart>
        </div>
      </div>
    </div>
  </div>

</div>
<!--<div class="layer"></div>
<div class="layer2">
  <p id="p2">LEGĂTURA DINTRE GAZELE CU EFECT DE SERĂ, INCALZIREA GLOBALA ȘI CALITATEA AERULUI</p>
  <p id="p1">Poluarea aerului și incalzirea globala</p>
  <p id="p3">În secolul trecut, creșterea masivă a emisiilor de particule si gaze
    poluante (dioxid de carbon, ozon, oxizi de azot, metan,) din cauza creșterii economice și industriale a făcut
    calitatea aerului o problemă globala.
    Temperatura pământului și a atmosferei crește odată cu
    <a style="text-decoration: underline;" routerLink="/SaveWorld">creșterea concentrațiilor de gaze
      cu efect de seră. </a>
  </p>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container ">
  <div class="row">
    <p id="p4">
      Schimbările climatice si poluarea aerului reprezintă cele mai grave amenințări la adresa sănătății globale.
      Reducerea continuă a poluării a și a gazelor cu efect de seră
      sunt esențiale, deoarece reprezintă amenințări serioase atat pentru
      sănătatea oamenilor catsi pentru mediul înconjurător în întreaga lume.
      Cresterea emisiilor de gaze cu efect de seră din atmosferă sunt direct legate de schimbările
      climatice și de încălzirea globala în ultimele decenii.
    </p>
    <p id="p4">
      Anumite gaze din atmosfera Pământului se comportă ca pereții unei sere - captează și rețin căldura
      soarelui, astfel încât aceasta nu mai este eliberată înapoi spațiu.
      Multe dintre acestea sunt prezente în mod natural în atmosferă, însă activitatea umană a dus la creșterea
      concentrației unora dintre ele, în special a:
    </p>

    <ul>
      <li id="list">dioxidului de carbon (CO2)</li>
      <li id="list">metanului</li>
      <li id="list">dioxidul de azot</li>
    </ul>
    <p id="p4">Într-un timp relativ scurt, temperatura globală a <span
        style="font-weight: bold; color:rgb(35, 151, 197);">crecut cu
        cel puţin 2°C, </span>fapt care a declanşat alte mecanisme.Unul dintre cele mai importante a fost topirea
      pungilor
      îngheţate de metan de pe fundul oceanelor, gaz care a ajuns rapid în atmosferă. Metanul e un gaz de seră mai
      puternic de <span style="font-weight: bold; color:rgb(35, 151, 197);">20-25 de ori faţă
        de dioxidul de carbon</span>, ceea ce a dus la o creştere accelerată a temperaturii globale până la circa 6°C,
      tot în câteva sute de ani.
      Prin comparaţie, în momentul de faţă temperatura medie globală a crescut deja cu peste 1°C în perioada 1880-2000,
      iar până la finalul lui 2100 există riscul unei creşteri chiar şi de peste 4°C.
      <span style="font-weight: bold; color:rgb(35, 151, 197);">În plus, din 2010 încoace se estimează că activitatea
        umană duce la emisii de cel puțin 35 de miliarde de tone anual de CO2 si alte gaze cu efect de serã.</span>
    </p>
  </div>
</div>


<div class="container">



  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
    aria-selected="false">Profile</a>



  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div [chart]="chart"></div>
    </div>


  </div>
</div>
<button id="btn" (click)="init()">Start</button>
-->